h2 {
  color: #d88a16;
  font-size: 2.7em;
  font-weight: 600;
  margin: 20px 0;
  padding-bottom: 10px;
  position: relative;
}

h2::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 3px;
  background: #3498db;
  transition: width 0.3s ease;
}

h2:hover::after {
  width: 100%;
}
