<h2>liste des films</h2>

<div class="block">
  <div *ngFor="let film of tabFilms; let i = index" [ngStyle]="{'background-color': getColor(film.nbJaime, film.nbJeNaimeps)}">
    <h4 >{{ film.nomFilm }}</h4>
    <div *ngIf="film.disponible; then thenblock else elseblock"></div>
    <ng-template #thenblock>
      {{film.nomFilm}} est disponible
    </ng-template><br>
    <ng-template #elseblock>
      {{film.nomFilm}} n'est pas disponible
    </ng-template><br>
    <img [src]="film.imageFilm" alt="{{ film.nomFilm }}" class="image">
    <div class="actions">
      <button (click)="onJaime(i)">
        J'aime ({{ film.nbJaime }})
      </button>
      <button (click)="onJeNaimePas(i)">
        Je n'aime pas ({{ film.nbJeNaimeps }})
      </button>
    </div>
  </div>
</div>
